.mainSearch {
  position: absolute;
  top: -260px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 40px;
  z-index: 10;
}
.container {
  width: 360px;
  height: 398px;
  background-color: #fff;
  border-radius: 4px;
  padding: 48px 24px 24px;
  border: 1px solid #e5e9f0;
}
.tx-1 {
  font-size: 2.5rem;
  line-height: 1.33333333;
  font-weight: 500;
  margin-right: 60px;
}
.tx-sm {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 500;
}
