.container{
    width: 360px;
    min-height: 398px;
    position: absolute;
    top: 16vh;
    right: 30px;
    background-color: #fff;
    border-radius: 4px;
    padding: 48px 24px 24px;
    z-index: 10;
    margin: 0 40px;
    border: 1px solid #e5e9f0;
}
.tx-1{
    font-size: 2.5rem;
    line-height: 1.33333333;
    font-weight: 500;
}
.tx-sm{
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 500;
}