.search-food {
  position: relative;
}

.tx-df-sz,
.tx-df-sz > * {
  font-size: 16px;
}
.base-tx {
  font-size: 2.5rem;
  line-height: 1/3;
  font-weight: 500;
  margin-bottom: 32px;
  margin: 0 auto;
  max-width: 1280px;
}
.tx-24-700 {
  font-weight: 700;
  color: #050505;
  font-size: 1.5rem;
  line-height: 28px;

}
.line-1 {
  margin-top: 80px;
  margin-bottom: 80px;
  border: 1px solid #e5e9f0;
}

@media screen and (max-width: 992px) {
  .base-tx {
    font-size: 1.8rem;
    margin-bottom: 18px !important;
    line-height: unset;
  }
}
@media screen and (max-width: 750px) {
  .line-1 {
    margin-top: 35px;
    margin-bottom: 35px;
    border: 2px solid #e5e9f0;
  }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .base-tx {
    font-size: 1.6rem;
    line-height: unset;
    margin-bottom: 14px !important;
  }
 
}
.recommend-store {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
